body {
    background: rgb(118,170,146);
    background: linear-gradient(90deg, rgba(118,170,146,1) 0%, rgba(53,147,164,1) 100%);
    overflow: hidden;
}
.App{
    position: absolute;
    margin:0 auto;
}
textarea{
    position: absolute;
    margin:0 auto;
    width: 50vw;
    height: 20vw;
    overflow: hidden;
}
